#wrapper-footer {
    padding: 0;
}
.site-footer {
    background: #0A043C;
    padding: 110px 0 80px;

    p,li, a:not(.btn-site){
        color: #A8A8A8;
        font-size: 14px;
        line-height: 1.4em;
        text-decoration: none;
    }
    a{
        color: $secondary!important;
        &:hover {
            color: #fff !important;
        }
    }
    h5{
        color: #A8A8A8;
        font-size: 16px;
        line-height: 1.4em;
        letter-spacing: 1.6px;
    }
    .mb-ls{
        margin-bottom: 40px;
        --bs-gutter-x: 50px;
    }
    .content-info-menus{
        margin-bottom: 90px;
        --bs-gutter-x: 50px;
        @media (max-width: 767px) {
            margin-bottom: 45px;
        }
    }

    .content-footer-logo {
        display: flex;
        align-items: flex-end;
        column-gap: 65px;
        p{
            color: #A8A8A8;
            margin-bottom: 0;
            margin-top: 15px;
            b{
                font-size: 16px;
            }
        }
        @media (max-width: 991px) {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media (max-width: 767px) {
            justify-content: center;
        }
    }
    .content-social{
        display: flex;
        column-gap: 40px;
        a{
            display: inline-block;
            width: 40px;
            height: 40px;
            background: $secondary;
            color: #090913!important;
            border-radius: 100%;
            border: 1px solid $secondary;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 19px;
            line-height: 1em;
            &:hover{
                background: transparent;
                color: $secondary!important;
            }
        }
        @media (max-width: 991px) {
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 40px;
        }
    }

    .footer-contacts {
        display: flex;
        column-gap: 40px;
        flex-wrap: wrap;
        .footer-contacts--item {
            width: calc(50% - 20px);
            margin-bottom: 40px;
            a{
                display: block;
                margin-bottom: 15px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 450px) {
            .footer-contacts--item {
                width: 100%;
            }
        }
    }
    .footer-contacts-menus {
        --bs-gutter-x: 40px;
        margin-bottom: 40px;
    }

    .footer-menu{
        max-width: 175px;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .menu{
            .menu-item{
                margin-bottom: 35px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    position: relative;
                    padding-right: 30px;
                    letter-spacing: 0.8px;
                    font-family: $font-title;
                    font-size: 16px;
                    display: inline-block;
                    &::before{
                        content: '';
                        position: absolute;
                        background: url('../assets/img/arrow-button-link-secundary.svg');
                        background-size: cover;
                        width: 15px;
                        height: 15px;
                        right: 0;
                        top: 0;
                    }
                }
            }
            .sub-menu{
                margin-top: 18px;
                .menu-item{
                    margin-bottom: 18px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        padding-right: 0;
                        color: #fff!important;
                        letter-spacing: 0px;
                        font-family: $font-text;
                        font-size: 14px;
                        &::before{
                            content: none;
                        }
                        &:hover{
                            color: #a8a8a8!important;
                        }
                    }
                }
            }
        }
    }


    .aditional-links {
        display: flex;
        column-gap: 5px;
        margin-bottom: 40px;
        flex-wrap: wrap;
        .btn-site{
            img{
                display: none;
            }
            &:last-child{
                img{
                    display: initial;
                } 
            }
        }
        @media (max-width: 991px) {
            margin-top: 40px;
            justify-content: center;
        }
    }

    .subscribe-form{
        h5 {
            margin-bottom: 4px;
            line-height: 1;
        }
        .gform_wrapper{
            margin-top: 30px;
            input::placeholder{
                color: #FFFFFF;
            }
            .gform_footer{ 
                padding-bottom: 0!important;
                /*input[type=submit] {
                    background: transparent;
                    padding: 12px 25px 12px 25px !important;
                    min-width: 194px;
                    line-height: 1.125em;
                    margin-bottom: 0;
                }*/
            }
            .gfield .gfield_checkbox .gchoice{
                display: flex;
            }
        }
    }

    .content-copyright {
        display: flex;
        align-items: center;
        column-gap: 10px;
        p{
            margin-bottom: 0;
        }
        .content-links-copy {
            display: flex;
            column-gap: 10px;
            
            a{
                text-decoration: underline;
            }
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
            justify-content: center;
            p{
                margin-bottom: 10px;
                text-align: center;
            }
            .content-links-copy {
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        @media (max-width: 821px) {
            justify-content: center;
        }
    }
    @media (max-width: 821px) {
        padding: 80px 0 ;
    }
}