.template-gated-content {
    padding-top: 55px !important;

    .gated-content-form {
        max-width: 1450px;
        margin: 50px auto 169px;
        padding: 0 15px;

        .content-left {
            display: flex;
            flex-direction: column;
            justify-content: start;

            &>p:first-of-type {
                font-size: 14px;
                font-weight: 600;
                background: #1F6FFC;
                border-radius: 15px;
                max-width: 204px;
                text-transform: uppercase;
                padding: 14px 20px;
                text-align: center;
                color: white;
                font-family: $font-title;
                letter-spacing: 2.8px;
                margin-top: 55px;
            }

            p {
                margin-bottom: 20px !important;
            }
            li {
                padding-bottom: 18.5px;
                &::marker {
                    color: #0E6AFF;
                    }
            }
        }

        .content-right {
            display: flex;
            justify-content: end;

            .right-form-img {
                background: $dark-blue;
                max-width: 560px;
                padding: 55px;
                border-radius: 30px;

                .gform_title {
                    color: white;
                    margin-top: 23px;
                    margin-bottom: 40px;
                    line-height: 26px;
                    letter-spacing: 2.8px;
                }

                img {
                    border-radius: 30px;
                }

                @media (max-width: 1042px) {
                    padding: 30px;
                }
            }

            @media (max-width: 991px) {
                justify-content: center;
            }
        }

        @media (max-width: 820px) {
            margin: 0px auto 60px;
        }

        @media (max-width: 576px) {
            margin: 0px auto 40px;
        }


    }

    blockquote {

        p {
            font-weight: 700;
            border-left: 7.58px solid #0E6AFF;
            padding-left: 34px;
            margin-bottom: 0px;
        }

        cite {
            padding-left: 34px;
        }

    }


}

.single-product-brief,
.single-case-study,
.single-white-paper {
    .title-top {
        display: none;
    }
}